@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
.body {
  max-width: 1600px;
  max-height: 5300px;
  background-color: rgba(245, 245, 245, 1);
}
/* shared styles */
.primary-btn {
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.primary-btn:hover {
    background-color: lightskyblue;
}
/* navbar styles */
.navbar-container {
  display: flex;
  align-items: center;
  padding: 31px 160px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navbar-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(14, 14, 14, 1);
}
.navbar-btn {
  padding: 15px 30px;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(0, 106, 80, 1);
  cursor: pointer;
}
.navbar-btn:hover {
  background-color: lightskyblue;
}
/* banner section styles */
.banner {
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;
}
.banner-container {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
    align-items: center;
    gap: 64px;
}
.banner-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-description {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
/* pillar section styles */
.pillars {
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;
}
.pillar-container-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 32px;
}
.pillar-boxes {
    display: flex;
    gap: 24px;
}
.pillar-box {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
}
.pillar-image {
    margin-bottom: 25px;
}
.pillar-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.pillar-description {
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
/* vision of future section styles */
.vision {
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 32px;
}
.vision-container-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 32px;
}
.vision-container-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.vision-boxes {
    display: flex;
    gap: 24px;
}
.vision-box1 {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 24px;
}
.vision-box2 {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 24px;
}
.vision-box3 {
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 24px;
}
.vision-image {
    margin-bottom: 24px;
}
.vision-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 64px;
}
.vision-btn1 {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    line-height: 19.2px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.vision-btn1:hover {
    background-color: white;
}
.vision-btn2 {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    line-height: 19.2px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.vision-btn2:hover {
    background-color: white;
}
.vision-btn3 {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    line-height: 19.2px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.vision-btn3:hover {
    background-color: white;
}
